package components

templ Clock(time string, date string) {
	<div class="grid h-full place-items-center" hx-trigger="every 1s" hx-get="/clock" hx-swap="outerHTML">
		<div class="text-center">
			<div class="text-5xl">{ time }</div>
			<div class="text-xl">{ date }</div>
		</div>
	</div>
}
