package components

import "github.com/mmcdole/gofeed"

templ Feed(feed *gofeed.Feed) {
	<div class={ cardclasses, "p-5 text-left h-2/3 overflow-y-scroll" } hx-trigger="every 1s" hx-get="/feed" hx-swap="outerHTML">
		for _, item := range(feed.Items) {
			<div>{ item.Title }</div>
		}
	</div>
}
