package components

import "github.com/mmcdole/gofeed"

templ Feed(feed *gofeed.Feed) {
	<div hx-trigger="every 1s" hx-get="/feed" hx-swap="innerHTML" hx-select="#feedcontent">
		<div id="feedcontent">
			for _, item := range(feed.Items) {
				<div>{ item.Title }</div>
			}
		</div>
	</div>
}
